body {
  --size: 175vh;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

.hide {
  visibility: hidden;
  height: 0;
  overflow: none;
}

svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.hero-wrapper {
  display: flex;
  font-size: 200%;
  /* position: absolute; */
  min-width: 100%;
  min-height: 100vh;
  justify-content: center;
  background-color: #bad;
  align-items: stretch;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

@media (min-width: 768px) {
  .hero-wrapper {
    align-items: center;
  }
}

.hero {
  color: #fff;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 1rem;
  box-sizing: border-box;
  background: linear-gradient(to top right, #2ad, #59bfe6);
}
@media (min-width: 768px) {
  .hero {
    margin: 0 auto;
    min-width: 266px;
    width: calc(175vh / 3);
    max-width: 400px;
    max-height: 600px;
    min-height: 400px;
    min-height: calc(175vh / 2);
    box-shadow: inset -10px 0 #f01133;
  }
}

.hero a {
  color: #fff;
  text-decoration: none;
}
.hero a:hover,
.hero a:hover svg {
  color: #000000;
}

.hero a:hover img {
  filter: invert(1);
}
.hero a:visited {
  color: #fff;
}

.contact-wrapper {
  display: flex;
  align-items: flex-end;
  flex: auto;
}

.greeting {
  flex: 1 0 auto;
  font-size: 35vw;
  letter-spacing: -1vmin;
}

@media (min-width: 768px) {
  .greeting {
    font-size: 6em;
  }
}

.contact {
  padding: 0.5rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.contact > li {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1em;
  margin: 0.5rem;
  overflow: hidden;
  text-align: center;
}

.show-for-sr {
  display: none;
}

.header {
  flex: 1 0 100%;
  align-self: flex-start;
  justify-self: flex-start;
}

.header .name {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

li img {
  width: 100%;
}
